.bookBox{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.book_inforBox{
    box-sizing: border-box;
    width: 900px;
    height: auto;
    background-color: #B3C0D1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: start;
    padding: 20px 24px;
}
.bookLeft{
    box-sizing: border-box;
    width: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.bookCover{
    width: 150px;
    height: 210px;
    background-color: rgb(238, 241, 246);
}
.bookPay{
    width: 100px;
    height: 35px;
    margin-top: 15px;
    text-align: center;
    line-height: 40px;
    background-color: rgb(238, 241, 246);
    color: #ffffff;
    border: none;
    font-size: 16px;
}
.bookInfo{
    width: 620px;
    background-color: rgb(238, 241, 246);
}







.in_hotRank{
    width: 240px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px rgba(29,29,31,0.13);
    border-radius: 8px;
    border: 1px solid rgba(222,222,224,1);
}
.in_hotRankBox{
    width: 200px;
    height: 280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.in_hr_contentBox{
    width: 200px;
    height: 240px;
}
.in_hr_content{
    font-size: 15px;
    width: 180px;
    height: 240px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.in_hr_content li{
    width: 180px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}