/**
* header
*/
.hp_header{
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 999;
}
.hp_headerBox{
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    background-color: aqua;
}
.hp_headerBoxLeft{
    width: 600px;
    margin: 0 0;
    display: flex;
    flex-direction: row;
}
.hp_headerBoxLeft_logo{
    width: 200px;
    height: 150px;
    background-color: palegoldenrod;
}
.hp_nav{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hp-nav-itemNoSele {
    box-sizing: border-box;
    height: 150px;
    padding: 0 7px;
    margin: 0 12px 0 12px;
    font-size: 16px;
    line-height: 250px;
    border-bottom: 2px #fefefe solid;
    color: #7c808c;
}
.hp-nav-itemSele {
    box-sizing: border-box;
    height: 150px;
    padding: 0 7px;
    margin: 0 12px 0 12px;
    font-size: 16px;
    line-height: 250px;
    border-bottom: 2px #3086f2 solid;
    color: #3086f2;
}
.hp-nav-itemSele a:visited{
    color: #3086f2 ;
}
.hp-nav-itemNoSele a:visited{
    color: #7c808c ;
}
.hp-nav-itemNoSele:hover,
.hp-nav-itemSele:hover{
    border-bottom: 2px #3086f2 solid;
    color: #3086f2;
}
.hp-nav-itemSele a{
    color: #3086f2 ;
}
.hp-nav-itemNoSele a{
    color: #7c808c ;
}
.hp-nav-itemNoSele:hover a,
.hp-nav-itemSele:hover a{
    color: #3086f2;
}

.hp_headerBoxCenter{

}

.hp_headerBoxRight{
    width: 16 0px;
    height: 150px;
    display: flex;
    flex-direction: row;
    background-color: palegoldenrod;
}