.index{
    position: relative;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
}











/**
* banner
*/
.in_banner{
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto 60px;
}
.in_bannerBox{
    width: 900px;
    height: 300px;
    background-color: pink;
}
.in_hotRank{
    width: 240px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px rgba(29,29,31,0.13);
    border-radius: 8px;
    border: 1px solid rgba(222,222,224,1);
}
.in_hotRankBox{
    width: 200px;
    height: 280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.in_hr_contentBox{
    width: 200px;
    height: 240px;
}
.in_hr_content{
    font-size: 15px;
    width: 180px;
    height: 240px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.in_hr_content li{
    width: 180px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}











/**
* typesearch
*/
.in_typeSearch{
    height: 80px;
    line-height: 80px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
}
.in_tsBox{
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
}












/**
* RandomRecom
*/
.in_randomRecom{
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.in_rrcontentBox{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.in_rrcontent{
    width: 1180px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.in_rrcontent_item{
    width: 550px;
    height: 280px;
    box-shadow: 0px 0px 20px 0px rgba(29,29,31,0.13);
    border-radius: 8px;
    border: 1px solid rgba(222,222,224,1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px;
}
.in_rr_img{
    width: 132px;
    height: 176px;
    background-color: salmon;
}
.in_rrcontent_itemBox{
    width: 500px;
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto 20px;
}
.in_rr_text{
    width: 350px;
    height: 176px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.in_rr_textBox{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.in_rr_textIntro{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.in_rr_type{
    width: 500px;
    height: 30px;
}
