.pc_infor{
    position: relative;
    height: 1000px;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pc_lanBox{
    position: absolute;
}
.pc_Box{
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.pc_titleBox{
    position: absolute;
    width: 200px;
    height: 60px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 10px;
    color: #9AA5B4;
    top: 50px;
    left: 40px;
}
.pc_inforbox{
    width: 900px;
    height: auto;
    background-color: rgb(238, 241, 246);
    display: flex;
    flex-direction: column;
    padding: 100px 80px;
    z-index: -10;
    border: 5px solid #B3C0D1;
}
.pc_mask{
    position: absolute;
    width: 240px;
    height: 50px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 8;
    top:-4px;
    left: -4px;
}
.pc_item_bc{
    position: relative;
    width: 240px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: #B3C0D1;
    border-bottom-right-radius: 10px;
    z-index: 100;
}
.pc_infor_item1{
    position: relative;
    width: 700px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    line-height: 40px;
    margin: 20px;
}
.pc_infor_item2{
    position: relative;
    width: 50%;
    height: 100%;
}
.pc_infor_item3{
    width: 700px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    line-height: 80px;
    margin: 20px;
}
.pc_mask2{
    position: absolute;
    width: 700px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 8;
    top:-4px;
    left: -4px;
}
.pc_item_bc2{
    position: relative;
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    background-color: #B3C0D1;
    border-bottom-right-radius: 10px;
    z-index: 100;
}
.pc_info_titleBox{
    position: relative;
    width: auto;
    height: 100%;
}
.pc_infor_titlefont,
.pc_info_contentBox{
    position: relative;
    z-index: 20;
}
.pc_info_contentBox{
    position: relative;
    margin-left: 15px;
    color: #9AA5B4;
}
.pc_info_contentBox2{
    position: relative;
    margin-left: 15px;
    color: #9AA5B4;
    z-index: 999;
}