body{
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    text-align: center;
}
a:link {
    text-decoration: none; 
} 
a:hover { 
    text-decoration: none;  
}
a:active{
    text-decoration: none;  
}
p{
    margin: 0;
}